# ML datasets folder
5️⃣th Sem - ML/datasets/

# Jupyter Notebooks
5️⃣th Sem - ML/china_gdp.ipynb
5️⃣th Sem - ML/confusion_matrix.ipynb
5️⃣th Sem - ML/cust_segmentation.ipynb
5️⃣th Sem - ML/matplotlib.ipynb
5️⃣th Sem - ML/numpy.ipynb
5️⃣th Sem - ML/pandas.ipynb
5️⃣th Sem - ML/salary_data.ipynb
5️⃣th Sem - ML/student_9.ipynb



